body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color:#fff;
    background-color:#000;
}

.slider_canvas {
    border: 1px solid #000;
    touch-action: none; /* Prevents default touch behavior, like scrolling */
    width: 33%; /* Each canvas takes up one third of the screen width */
    height: 90vh; /* 90% of the viewport height */
}
